/*---------------------------------- Body, ja muut tärkeät jutut ----------------------------------*/
.E-Portfolio-Body {
    background-color: rgb(38, 38, 38);
    margin: 0;
    transition: all;
    transition-duration: 0.3s;
    
}
#transition-fade{
    opacity: 0;
    transition: opacity 0.5s ease-in;
}
.fade-in{
    opacity: 1;
}
.fade-out{
    opacity: 0;
}

header {
    margin-right: 10px;
    display: flex;
    align-items: center;
    background-color: transparent;
}


.header-left {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-right{
    margin-left: auto;
}

#headerTitle{
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE/Edge */
    user-select: none;
    color: rgb(3, 171, 255);
    white-space: nowrap;
}

.selected {
    color: rgb(0, 170, 255);
    padding-bottom: 1px;
    border-bottom: 2px solid rgb(0, 170, 255);
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-left: 10px;
    padding-right: 10px;
}

.dropdown-button{
    font-size: 15px;
    white-space: nowrap;
    border: 2px solid black;
    border-radius: 10px;
}
#dropdownEnglish, #dropdownFinnish{
    border-bottom: 1px solid black;
}
#dropdownEnglish:hover, #dropdownFinnish:hover{
    background-color: rgb(21, 21, 21);
}

  
.dropdown-content {
    display: none;
    position: absolute;
    left: 5%;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}


/* Ylä- ja alaosa */
.flexbox-up-down-container {
    display: flex;
    text-align: center;
}

/* Vasen ja oikea osa */
.flexbox-left-right-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    text-align: center;
}

/* Itemit */
.flex-left-item {
    background-color: #cdcdcd;
    border-right: 2px solid rgb(136, 136, 136);
    flex-basis: 15%;
}

.flex-right-item {
    background-color: #c7b7b7;
    border: none;
    flex-basis: 100%;
}

.flex-middle-item {
    background-color: #ffffff;
    border: none;
    flex-basis: 100%;
}

.flex-up-down-item {
    background-color: rgb(136, 136, 136);
    border: none;
    flex-basis: 100%;
}

/* Keski Itemit */
.left-right-item-left {
    background-color: rgb(11, 11, 11);
}

.left-right-item-middle {
    background-color: rgb(11, 11, 11);
}

.left-right-item-right {
    background-color: rgb(11, 11, 11);
}

/*---------------------------------- Tekstit ----------------------------------*/
.textTitle {
    font-weight: bold;
    font-size: 40px;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    margin: 10px;
    white-space: nowrap;
}

.textContentTitle{
    font-weight: bold;
    font-size: 40px;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    margin: 10px;
    white-space: nowrap;
    color: grey;
}

.textLeft {
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-size: 20px;
    color: grey;
    text-align: left;
}

.textCenter {
    margin: 10px;
    font-size: large;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    text-align: center;
}

.textRight {
    margin: 5px;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    text-align: right;
}

/*---------------------------------- Muut interaktiiviset jutut, Nappulat, kirjoitushommat etc.. ----------------------------------*/
.textContent {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgb(30, 30, 30);
}

.headerItemsMobile {
    display: none;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
}

.headerButton {
    display: inline-block;
    background-color: transparent;
    border: none;
    height: 100%;
    color: rgb(0, 118, 176);

    transition-property: background-color color border;
    transition-duration: 0.2s;
}

.headerButtonSelected{
    display: inline-block;
    background-color: rgb(75, 75, 75);
    border-radius: 2px;
    border: 2px solid rgb(0, 170, 255);
    color: rgb(0, 170, 255);
}

.headerButton:hover {
    background-color: rgb(75, 75, 75);
    color: rgb(0, 170, 255);
    border: 1px solid rgb(0, 170, 255);
}

#navIconHitbox {
    transition-property: all;
    transition-duration: 0.5s;
}

.hr {
    height: 2px;
    width: 85%;
    border: none;
    background-color: rgb(136, 136, 136);
}

#exitButtonDIV {
    z-index: 9999;
    position: fixed;
    top: calc(0.1%);
    right: calc(0.1%);
}

#exitButton {
    display: inline-block;
    border-radius: 5px;
    border: 2px solid rgb(85, 85, 85);
    background-color: rgba(51, 51, 51, 0.8);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(255, 255, 255);
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    transition-property: background-color;
    transition-duration: 0.2s;
}


#exitButton:hover {
    display: inline-block;
    border: 2px solid rgb(98, 98, 98);
    background-color: rgba(37, 37, 37, 0.8);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#MobileNavigation {
    z-index: 9999;
    position: fixed;
    background-color: rgba(38, 38, 38, 0.9);
    border: 4px solid rgba(28, 28, 28, 0.9);
    top: 0%;
    left: 50%;
    right: 0%;
    bottom: 0%;
    justify-content: center;
}

#MobileNavigation #MobNavTitle {
    color: rgb(177, 177, 177);
    font-weight: bold;
    font-size: 30px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#MobileNavigation #buttonDiv {
    border: 1px solid rgb(27, 27, 27);
    background-color: rgba(58, 58, 58, 0.9);
    transition-property: background-color;
    transition-duration: 0.2s;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#MobileNavigation #buttonDiv:hover {
    border: 1px solid rgb(255, 255, 255);
    background-color: rgba(43, 43, 43, 0.9);
    transition-property: background-color;
    transition-duration: 0.2s;
}

#MobileNavigation #buttonDivSelected {
    border: 1px solid rgb(255, 255, 255);
    background-color: rgba(37, 37, 37, 0.9);
    transition-property: background-color;
    transition-duration: 0.2s;
}

.ButtonNaVMobile {
    z-index: 9999;
    position: fixed;
    left: calc(50% + 10px);
    right: calc(0% + 10px);
}

.MobNav_Title_And_ExitButton {
    display: flex;
    align-items: center;
}

.hidden {
    display: none;
}

.flex-display {
    display: flex;
}

.contactMe {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactMeForm {
    border: 4px solid rgb(36, 36, 36);
    background-color: rgb(85, 85, 85);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    display: inline-block;
}

#footerText{
    background-color: transparent;
    font-family: 'Raleway', sans-serif;
}

.formButton {
    padding: 5px;
    border-radius: 10px;
    border: 4px solid rgb(36, 36, 36);
    background-color: white;
    transition-property: background-color;
    transition-duration: 0.4s;
}

.formButton:hover {
    background-color: rgb(130, 130, 130);
}

.formButton:active {
    background-color: rgb(79, 79, 79);
}

.formInput{
    border-radius: 5px;
    border: 4px solid rgb(36, 36, 36);
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    background-color: white;
    
    transition-property: all;
    transition-duration: 0.2s;
}

.formInput:hover{
    border-radius: 10px;
    background-color: rgb(179, 179, 179);
}

.form-row {
    display: flex;
    color: rgb(208, 208, 208);
    flex-direction: column;
    margin-bottom: 10px;
}

label {
    margin-bottom: 5px;
}


@media (max-width: 560px) {
    #exitButtonDIV {
        position: relative;
    }

    .contactMe {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contactMeForm {
        display: inline-block;
    }

    .form-row {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }

    label {
        margin-bottom: 5px;
    }
}

@media (max-width: 470px) {
    #MobileNavigation #MobNavTitle {
        font-size: 20px;
        padding-left: 5px;
    }

    #exitButtonDIV {
        position: relative;
    }

    #MobileNavigation {
        z-index: 9999;
        position: fixed;
        top: 0%;
        left: 40%;
        right: 0%;
        bottom: 0%;
        justify-content: center;
    }

    .ButtonNaVMobile {
        z-index: 9999;
        position: fixed;
        left: calc(40% + 10px);
        right: calc(0% + 10px);
    }
}

@media (min-width: 1015px) {
    #MobileNavigation {
        display: none;
    }
}

@media (max-width: 1015px) {
    .flexbox-left-right-container {
        flex-direction: column;
        align-items: center;
    }

    .flex-left-item {
        width: 100%;
        border-right: none;
        border-bottom: 1px solid black;
        border-top: 1px solid black;
    }

    .headerButtonText {
        font-size: 50px;
        -webkit-user-select: none; /* Safari */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE/Edge */
        user-select: none;
    }

    .textCenter {
        flex-direction: column;
        align-items: center;
        
    }

    .header-right {
        display: none;
    }

    .headerItemsMobile {
        display: flex;
    }

}