/*---------------------------------- Body, ja muut tärkeät jutut ----------------------------------*/
.E-Portfolio-Body {
    background-color: rgb(40, 40, 40);
    margin: 0;
    transition: all;
    transition-duration: 0.3s;
}

.header {
    z-index: 999;
    position: fixed;
    top: 0%;
    display: flex;
    width: 100%;
    height: 15%;
    justify-content: center;
    background-color: rgb(40, 40, 40);
}


.selected {
    color: rgb(199, 199, 199);
    padding-bottom: 1px;
    border-bottom: 2px solid grey;
}

/* Ylä- ja alaosa */
.flexbox-up-down-container {
    display: flex;
    text-align: center;
}

/* Vasen ja oikea osa */
.flexbox-left-right-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    text-align: center;
}

/* Itemit */
.flex-left-item {
    background-color: #cdcdcd;
    border-right: 2px solid rgb(136, 136, 136);
    flex-basis: 15%;
}

.flex-right-item {
    background-color: #c7b7b7;
    border: none;
    flex-basis: 100%;
}

.flex-middle-item {
    background-color: #ffffff;
    border: none;
    flex-basis: 100%;
}

.flex-up-down-item {
    background-color: rgb(136, 136, 136);
    border: none;
    flex-basis: 100%;
}

/* Keski Itemit */
.left-right-item-left {
    background-color: rgb(11, 11, 11);
}

.left-right-item-middle {
    background-color: rgb(11, 11, 11);
}

.left-right-item-right {
    background-color: rgb(11, 11, 11);
}

/*---------------------------------- Tekstit ----------------------------------*/
.textTitle {
    font-weight: bold;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    margin: 10px;
    white-space: nowrap;
}

.textLeft {
    padding-left: 10px;
    padding-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 20px;
    text-align: left;
}

.textCenter {
    margin: 10px;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    text-align: center;
}

.textRight {
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    text-align: right;
}

/*---------------------------------- Muut interaktiiviset jutut, Nappulat, kirjoitushommat etc.. ----------------------------------*/
.textContent {
    background-color: rgb(30, 30, 30);
}

.headerItems {
    display: flex;

}

.headerItems p {
    padding: 10px;
}

.headerItemsMobile {
    display: none;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
}

.headerButton {
    display: inline-block;
    background-color: rgb(49, 49, 49);
    border: none;
    border-radius:10px;
    color: rgb(80, 80, 80);
    transition-property: background-color;
    transition-duration: 0.1s;
    margin-top: 1.5%;
    height: 85%;
    margin-left: 0.5%;
    margin-right: 0.5%;
}

.headerButtonSelected{
    display: inline-block;
    background-color: rgb(75, 75, 75);
    border: none;
    border-radius:10px;
    color: rgb(80, 80, 80);
    transition-property: background-color;
    transition-duration: 0.1s;
    height: 90%;
    margin-top: 1%;
    padding-left: 3%;
    padding-right: 3%;
}

.headerButton:hover, .headerButtonSelected:hover {
    background-color: rgb(49, 49, 49);
    color: rgb(159, 159, 159);
}

.headerButton:active, .headerButtonSelected:active {
    background-color: rgb(52, 52, 52);
}

#navIconHitbox {
    transition-property: all;
    transition-duration: 0.5s;
}

.hr {
    height: 2px;
    width: 85%;
    border: none;
    background-color: rgb(136, 136, 136);
    ;
}



#MobileNavigation {
    z-index: 9999;
    position: fixed;
    background-color: rgb(54, 54, 54);
    border-radius: 10px;
    border: 2px solid rgb(0, 0, 0);
    top: 0%;
    left: 50%;
    right: 0%;
    bottom: 0%;
    justify-content: center;
}

#exitButton {
    display: inline-block;
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgb(89, 89, 89);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;

    transition-property: background-color;
    transition-duration: 0.2s;
}

#exitButtonDIV {
    z-index: 9999;
    position: fixed;
    top: calc(0.1%);
    right: calc(0.1%);
}

#exitButton:hover {
    display: inline-block;
    border: 2px solid black;
    background-color: rgb(67, 67, 67);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#MobileNavigation #MobNavTitle {
    color: white;
    font-size: 30px;
}

#MobileNavigation #buttonDiv {
    border-radius: 10px;
    border: 1px solid rgb(176, 176, 176);

    margin-bottom: 5px;
    background-color: rgb(106, 106, 106);
    border: 1px solid black;
    transition-property: background-color;
    transition-duration: 0.2s;
}

#MobileNavigation #buttonDiv:hover {
    border-radius: 10px;
    border: 1px solid rgb(176, 176, 176);
    margin-bottom: 5px;
    background-color: rgb(160, 160, 160);
    transition-property: background-color;
    transition-duration: 0.2s;
}

#MobileNavigation #buttonDivSelected {
    border-radius: 10px;
    border: 1px solid rgb(176, 176, 176);

    margin-bottom: 5px;
    background-color: rgba(255, 255, 255, 0.6);
    border: 1px solid black;
    transition-property: background-color;
    transition-duration: 0.2s;
}

#MobileNavigation #buttonDivSelected:hover {
    border-radius: 10px;
    border: 1px solid rgb(176, 176, 176);
    margin-bottom: 5px;
    background-color: rgb(160, 160, 160);
    transition-property: background-color;
    transition-duration: 0.2s;
}

.ButtonNaVMobile {
    z-index: 9999;
    position: fixed;
    left: calc(50% + 10px);
    right: calc(0% + 10px);
}

.MobNav_Title_And_ExitButton {
    display: flex;
    align-items: center;
}

.hidden {
    display: none;
}

.flex-display {
    display: flex;
}

.contactMe {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactMeForm {
    border: 4px solid rgb(36, 36, 36);
    background-color: rgb(85, 85, 85);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    display: inline-block;
}

#footerText{
    background-color: transparent;
    font-family: Arial, Helvetica, sans-serif;
}

.formButton {
    padding: 5px;
    border-radius: 10px;
    border: 4px solid rgb(36, 36, 36);
    background-color: white;
    transition-property: background-color;
    transition-duration: 0.4s;
}

.formButton:hover {
    background-color: rgb(130, 130, 130);
}

.formButton:active {
    background-color: rgb(79, 79, 79);
}

.formInput{
    border-radius: 5px;
    border: 4px solid rgb(36, 36, 36);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: white;
    
    transition-property: all;
    transition-duration: 0.2s;
}

.formInput:hover{
    border-radius: 10px;
    background-color: rgb(179, 179, 179);
}

.form-row {
    display: flex;
    color: rgb(208, 208, 208);
    flex-direction: column;
    margin-bottom: 10px;
}

label {
    margin-bottom: 5px;
}




@media (max-width: 560px) {
    #exitButtonDIV {
        position: relative;
    }

    .contactMe {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contactMeForm {
        display: inline-block;
    }

    .form-row {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }

    label {
        margin-bottom: 5px;
    }
}

@media (max-width: 470px) {
    #MobileNavigation #MobNavTitle {
        font-size: 20px;
        padding-left: 5px;
    }

    #exitButtonDIV {
        position: relative;
    }

    #MobileNavigation {
        z-index: 9999;
        position: fixed;
        background-color: rgb(54, 54, 54);
        border-radius: 10px;
        border: 2px solid rgb(0, 0, 0);
        top: 0%;
        left: 40%;
        right: 0%;
        bottom: 0%;
        justify-content: center;
    }

    .ButtonNaVMobile {
        z-index: 9999;
        position: fixed;
        left: calc(40% + 10px);
        right: calc(0% + 10px);
    }
}

@media (min-width: 800px) {
    #MobileNavigation {
        display: none;
    }
}

@media (max-width: 800px) {
    .flexbox-left-right-container {
        flex-direction: column;
        align-items: center;
    }

    .flex-left-item {
        width: 100%;
        border-right: none;
        border-bottom: 1px solid black;
        border-top: 1px solid black;
    }

    .textTitle {
        font-size: 30px;
    }

    .headerButtonText {
        font-size: 50px;
      }

    .textCenter {
        flex-direction: column;
        align-items: center;
    }

    .headerItems {
        display: none;
    }

    .headerItemsMobile {
        display: flex;
    }

}

@media (max-width: 480px) {}