/*---------------------------------- Body, ja muut tärkeät jutut ----------------------------------*/
.E-Portfolio-Body{
    background-color: rgb(0, 0, 0);
    margin: 0;
    
}

.header{
    display: flex;
    width: 100%;
    background-color: rgb(0, 0, 0);
}

.header p {
    margin: 0;

}

/* Ylä- ja alaosa */
.flexbox-up-down-container{
    display: flex;
    text-align: center;
}

/* Vasen ja oikea osa */
.flexbox-left-right-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    text-align: center;
}

/* Itemit */
.flex-left-item {
    background-color: #cdcdcd;
    border-right: 2px solid rgb(136, 136, 136);
    flex-basis: 15%;
}

.flex-right-item{
    background-color: #c7b7b7;
    border: none;
    flex-basis: 100%;
}

.flex-middle-item {
    background-color: #ffffff;
    border: none;
    flex-basis: 100%;
}

.flex-up-down-item{
    background-color: rgb(136, 136, 136);
    border: none;
    flex-basis: 100%;
}

/* Keski Itemit */
.left-right-item-left{
}

.left-right-item-middle{
}

.left-right-item-right{
}

/*---------------------------------- Tekstit ----------------------------------*/
.textTitle{
    font-weight: bold;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    margin: 10px;
    white-space: nowrap;
}

.textLeft{ 
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    text-align: left;
}

.textCenter{
    margin: 10px;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    text-align: center;
}

.textRight {
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    text-align: right;
}

/*---------------------------------- Muut interaktiiviset jutut, Nappulat, kirjoitushommat etc.. ----------------------------------*/
.headerItems {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headerItems p {
    padding: 10px;
}

.headerItemsMobile {
    display: none;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
}

.headerButton {
    display: inline-block;
    background-color: rgb(0, 0, 0);
    border: none;
    color: rgb(80, 80, 80);
    transition-property: background-color;
    transition-duration: 0.1s;
    width: 100%;
    height: 100%;
}

.headerButton:hover {
    background-color: rgb(83, 83, 83);
    color: rgb(159, 159, 159);
}

.headerButton:active {
    background-color: rgb(69, 69, 69);
}

#navIconHitbox {
    transition-property: all;
    transition-duration: 0.5s;
}

.hr{
    height: 2px;
    width: 85%;
    border: none;
    background-color: rgb(136, 136, 136);;
}

#MobileNavigation {
    z-index: 9999;
    position: fixed;
    background-color: grey;
    border-radius: 10px;
    border: 2px solid rgb(176, 176, 176);
    top: 11%;
    left: 60%;
    right: 1%;
    justify-content: center;
}
#MobileNavigation div{
    border-radius: 10px;
    border: 1px solid rgb(176, 176, 176);
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 5px;
    background-color: rgb(106, 106, 106);
    transition-property: background-color;
    transition-duration: 0.2s;
}

#MobileNavigation div:hover{
    border-radius: 10px;
    border: 1px solid rgb(176, 176, 176);
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: rgb(160, 160, 160);
    transition-property: background-color;
    transition-duration: 0.2s;
}
  

.hidden {
display: none;
}
  
.flex-display {
display: flex;
}
  




@media (min-width: 800px){
    #MobileNavigation{
        display: none;
    }
}
@media (max-width: 800px) {
    .flexbox-left-right-container {
      flex-direction: column;
      align-items: center;
    }
    
    .flex-left-item {
      width: 100%;
      border-right: none;
      border-bottom: 1px solid black;
      border-top: 1px solid black;
    }
    
    .textTitle {
      font-size: 30px;
    }
    
    .textCenter {
      flex-direction: column;
      align-items: center;
    }
    
    .headerItems {
      display: none;
    }

    .headerItemsMobile {
      display: flex;
    }

    .headerButton {
      margin: 10px 0;
    }
    
    

  }
  
  @media (max-width: 480px) {
    
  }
  
